
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Shopping</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-right navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Computer Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shopping</a>
          </li>
        </ul>`
        <div class="pull"></div>
      </div>
    </nav>
    {% block content %}

    <section>
      <div class="row">
       <table class="table table-hover table-bordered text-center">
         <tr class="text-center">
           <th>no.</th>
           <th>Item</th>
           <th>Price</th>
         </tr>
         {% for item in order.get_cart_items %}
           <tr>
             <td>{{ forloop.counter }}</td>
             <td>
               {{ item.product.name }}
               <span class="pull-right">
                 <a href="{% url 'shopping_cart:delete_item' item.id %}" data-balloon="remove this item from cart" class="text-danger" onclick="return confirm_delete();">
                   <i class="fas fa-trash"></i>
                 </a>
               </span>
             </td>
             <td>{{ item.product.price }}</td>
           </tr>
         {% empty %}
           <tr>
             <td colspan= 3> You have not added any items yet.</td>
           </tr>
         {% endfor %}
         <tr>
           {% if order.get_cart_total != None %}
           <td colspan=2>
             <strong class="pull-right">Order Total:</strong>
           </td>
           
           <td colspan= 1>
             $<strong>{{ order.get_cart_total }}</strong>
           </td>
           {% endif %}
         </tr>
         <tr>
           <td colspan=1 >
             <a href="{% url 'products:product-list' %}" class="btn btn-warning pull-left">
               {% if order %}Continue Shopping{% else %}Add Items to Cart {% endif %}
             </a> 
           </td>
           <td colspan=2>
             {% if order.get_cart_items %}
               <a href="{% url 'shopping_cart:checkout' %}" class="pull-right btn btn-primary">Proceed To Checkout</a>
             {% endif %}
           </td>
         </tr>
       </table>
        
      </div>
    </section>
   {% endblock %}
   
   {% block scripts %}
     {{ block.super }}
     <script>
     function confirm_delete(){
       return confirm("Do you want to remove this item from cart?");
     }
     </script>
   {% endblock scripts %}
   
  </body>
</html>